<div class="page_description">
    {text key="skeleton+description_dev_tools"}
</div>

<table class="ow_table_1 ow_form ow_stdmargin">

    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label">define('OW_DEBUG_MODE', true);</td>
        <td class="ow_desc ow_small">{text key="skeleton+devtools_desc_debug_mode"}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="ow_label">define('OW_DEV_MODE', true);</td>
        <td class="ow_desc ow_small">{text key="skeleton+devtools_desc_dev_mode"}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="ow_label">define('OW_PROFILER_ENABLE', true);</td>
        <td class="ow_desc ow_small">{text key="skeleton+devtools_desc_profiler"}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label"><a href="{$devtoolsUrl}" target="_blank" >{text key="skeleton+devtools_link_langs"}</a></td>
        <td class="ow_desc ow_small">{text key="skeleton+devtools_desc_link_langs"}</td>
    </tr>
</table>