{style}
{literal}
.ow_alt2 .left_indent, .ow_alt1 .left_indent{
    padding-left: 5%;
    text-align: left;
}
{/literal}
{/style}

<div class="page_description">
    {text key="skeleton+description_pluginxml"}
</div>


<table class="ow_table_1 ow_form ow_stdmargin">
    <tr class="ow_alt1 ow_tr_first">
        <td class="">&lt;?xml version="1.0" encoding="utf-8"?&gt;</td>
        <td class="ow_desc ow_small"></td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="">&lt;plugin&gt;</td>
        <td class="ow_desc ow_small"></td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="left_indent">&lt;name&gt;Skeleton&lt;/name&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_name'}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="left_indent">&lt;key&gt;skeleton&lt;/key&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_key'}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="left_indent">&lt;description&gt;Skeleton&lt;/description&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_desc'}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="left_indent">&lt;author&gt;Oxwall Foundation&lt;/author&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_author'}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="left_indent">&lt;authorEmail&gt;plugins@oxwall.org&lt;/authorEmail&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_authoremail'}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="left_indent">&lt;authorUrl&gt;http://www.oxwall.org/foundation&lt;/authorUrl&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_authorurl'}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="left_indent">&lt;developerKey&gt;a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6&lt;/developerKey&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_devkey'}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="left_indent">&lt;build&gt;1&lt;/build&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_build'}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="left_indent">&lt;copyright&gt;(C) 2009 Oxwall Foundation. All rights reserved.&lt;/copyright&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_copyright'}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="left_indent">&lt;license&gt;The BSD License&lt;/license&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_license'}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="left_indent">&lt;licenseUrl&gt;http://www.opensource.org/licenses/bsd-license.php&lt;/licenseUrl&gt;</td>
        <td class="ow_desc ow_small">{text key='skeleton+pluginxml_licenseurl'}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="">&lt;/plugin&gt;</td>
        <td class="ow_desc ow_small"></td>
    </tr>


</table>