<div class="page_description">
    {text key="skeleton+description_file_structure"}
</div>

<table class="ow_table_1 ow_form ow_stdmargin">
    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label"><b>/bol</b></td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_bol"}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="ow_label"><b>/classes</b></td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_classes"}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label"><b>/components</b></td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_components"}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="ow_label"><b>/controllers</b></td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_controllers"}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label"><b>/static</b></td>
        <td class="ow_desc ow_small">
            <table>
                <tr class="ow_alt2 ow_tr_first">
                    <td class="ow_label"><b>/css</b></td>
                    <td class="ow_desc ow_small">{text key="skeleton+file_structure_static_css"}</td>
                </tr>

                <tr class="ow_alt1 ow_tr_first">
                    <td class="ow_label"><b>/js</b></td>
                    <td class="ow_desc ow_small">{text key="skeleton+file_structure_static_js"}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="ow_alt1 ow_tr_first">
        <td class="ow_label"><b>/views</b></td>
        <td class="ow_desc ow_small">
            <table>
                <tr class="ow_alt2 ow_tr_first">
                    <td class="ow_label"><b>/components</b></td>
                    <td class="ow_desc ow_small">{text key="skeleton+file_structure_views_components"}</td>
                </tr>

                <tr class="ow_alt1 ow_tr_first">
                    <td class="ow_label"><b>/controllers</b></td>
                    <td class="ow_desc ow_small">{text key="skeleton+file_structure_views_controllers"}</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label">/activate.php</td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_activate"}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="ow_label"><a href="{$cronUrl}" target="_blank">/cron.php</a></td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_cron"}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label">/deactivate.php</td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_deactivate"}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="ow_label">/init.php</td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_init"}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label">/install.php</td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_install"}</td>
    </tr>

    <tr class="ow_alt1 ow_tr_first">
        <td class="ow_label"><a href="{$pluginxmlUrl}" target="_blank">/plugin.xml</a></td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_pluginxml"}</td>
    </tr>

    <tr class="ow_alt2 ow_tr_first">
        <td class="ow_label">/uninstall.php</td>
        <td class="ow_desc ow_small">{text key="skeleton+file_structure_uninstall"}</td>
    </tr>


</table>
