<div class="page_description">
    {text key="skeleton+description_floatbox"}

    <div class="example_file">
        <table>
            <tr>
                <td>
                    {text key="skeleton+example_file"}
                </td>
                <td>
                    /ow_plugins/skeleton/controllers/floatbox.php;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    /ow_plugins/skeleton/components/floatbox.php;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    /ow_plugins/skeleton/views/components/floatbox.html
                </td>
            </tr>
        </table>
    </div>
</div>

<div>
    <h2 class="ow_center"><a id="skeleton_ajax_floatbox" href="javascript://">{text key='skeleton+show_ajax_floatbox'}</a></h2>
</div>
<br/>
<div>
    <h2 class="ow_center"><a id="skeleton_floatbox" href="javascript://">{text key='skeleton+show_floatbox'}</a></h2>
</div>
<div style="display: none">
    <div id="floatbox_content">
        <div class="ow_center">{text key="skeleton+floatbox_content_desc"}</div>
    </div>
</div>