<div class="page_description">
    {text key="skeleton+description_ping"}

    <div class="example_file">
        <table>
            <tr>
                <td>
                    {text key="skeleton+example_file"}
                </td>
                <td>
                    /ow_plugins/skeleton/controllers/ping.php;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    /ow_plugins/skeleton/static/js/ping.js;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    /ow_plugins/skeleton/init.php
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="ow_center">
    <h2><a id="skeleton_start_ping" href="javascript://">{text key="skeleton+start_ping"}</a></h2><br>
    <div><b>{text key="skeleton+ping_counter"}:</b> <span id="skeleton_ping_counter" style="font-weight: bold;">0</span></div>
</div>
